@font-face {
    font-family: riffic;
    src: url("../font/riffic.ttf");
}

* {
    font-family: riffic;
}

.w-64-px {
    width: 64px;
}

.w-128-px {
    width: 128px;
}

.green {
    color: green;
}

.orange {
    color: orange;
}